/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@media (prefers-color-scheme: light) {
  .intro {
    background-image: url("../images/intro-bg-lm.png");
  }

  .btn {
    outline: 1px solid rgba(255, 255, 255, .5);
  }

}

@media (prefers-color-scheme: dark) {
  .intro {
    background-image: url("../images/intro-bg-dm.png");
  }

}

.links {
  padding-left: var(--spacing-base);
}

.intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 1280px;
  background-position-y: center;
  transition: .3s;
}

.primaryBtn {
  background-color: #E7B1D2;
  color: #24093B;
}

.btn {
  border-radius: 50vw;
}

.intro h2, .intro p {
  width: 75%;
}

@media only screen and (max-width: 1840px) {
  .intro {
    background-position-x: 1024px;
  }
}

@media only screen and (max-width: 1280px) {
  .intro {
    background-position-x: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .intro {
    background-position-x: 640px;
  }

  .intro h2, .intro p {
    width: 50%;
  }
}

@media only screen and (max-width: 960px) {
  .intro {
    background-position-x: 480px;
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {
  .intro h2, .intro p {
    width: 85%;
  }
}

@media only screen and (max-width: 480px) {
  .intro h2, .intro p {
    width: 100%;
  }
}
